# ----------- handlebars --- START
snippet {{# "Add handlebars tag with close" i
{{#${1:link-to} ${2: }}}$3{{/$1}}$4
endsnippet
snippet {{ "handlebars matching parens" i
{{$1}}$2
endsnippet

snippet {{#b "handlebars each block" b
{{#${1:each}}}
  $2
{{/$1}}
$3
endsnippet
# ----------- handlebars --- END
